
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://media.discordapp.net/attachments/912277411045982243/912314939610386432/pexels-katerina-holmes-5905507.jpg");;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

 
.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}
 
.container .daftar-text {
    color: #111;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-text {
    color: #111;
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}
 
.container .form-test .input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
 
.container .form-test .input .input-daftar {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1.8rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .form-test .input .input-login {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 2rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}


 
.container .form-test .input input:focus,.input input:valid {
    border-color: #00cc99;
}
 
.container .form-test .input .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #00cc99;
    outline: none;
    border-radius: 30px;
    font-size: 1.5rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}
 
.container .form-test .input .btn:hover {
    transform: translateY(-5px);
    background: #195546;
}
 
.info-teks {
    color: #111;
    font-weight: 600;
}
 
.info-teks a {    
    color: #00cc99;
}
.info-teks a:hover {
    color: #195546;
}
 
@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}