@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

body {
    background-image: url("https://media.discordapp.net/attachments/912277411045982243/912314939610386432/pexels-katerina-holmes-5905507.jpg");
    
    background-size: 100vw;
    font-family: 'Alef', sans-serif;
    font-weight: 100;
}

header {
    display: flex;
    width: 100%;
    height: 100%;
}

header ul {
    display: flex;
    margin-left: 70%;
    padding: 10px 10px 30px 10px;
}

li {
    list-style: none;
    margin: 5px 10px;
    font-size: 16pt;
    color: white;
}

.sec-kiri {
    text-align: left;
    margin-top: 15vh;
    margin-left: 20px;
    color: white;
}

.sec-bawah {
    text-align: center;
    margin-top: 15vh;
    color: white;
}
.paragraf {
    width: 30%;
    margin-left: 25px;

}
.dude {
    border: 1px solid;
    border-radius: 10px;
    width: 10vw;
    height: 8vh;
    margin-left: 25px;

}
h1 {
    font-size: 50px;
}

